apiVersion: v1
kind: Service
metadata:
  name: webapp
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - port: 3000        # Port interne dans le cluster
      targetPort: 3000  # Port exposé par le conteneur
      nodePort: 32000   # Port accessible depuis l'extérieur